[Desktop Entry]
Encoding=UTF-8
Name=Link to Amazon.com: LAFVIN 2WD Smart Robot Car Kit ESP32 Camera Starter Kit with Tutorial Compatible with Arduino IDE : Toys & Games
Type=Link
URL=https://www.amazon.com/dp/B09YCYTDRX?ref=ppx_yo2ov_dt_b_fed_asin_title
Icon=mate-fs-bookmark
